html, body {
  overflow-x: hidden;
}


/* COOL BUTTON */

/* HTML CSSResult Skip Results Iframe
EDIT ON
html,
body {
    /* margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000; }*/


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* DONE COOL BUTTON */

#categories-dropdown{
    width: 200px;
    padding: 8px;

}

/* Style for the dropdown container */
    .dropdown {
    position: relative;
    display: inline-block;
    padding: 8px;
    }

    /* Style for the dropdown arrow */
    .dropdown::after {
    content: "\25BC";
    font-size: 0.5em;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    padding: 1em;
    }

    /* Style for the dropdown itself */
    select {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    margin-bottom: 0.75em;
    color:white;
    border: none;
    border-radius: 0.25em;
    background-color: #f1f1f1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #5c2be2;
    font-size: 14px;
    }

    /* Style for the dropdown options */
    option {
    background-color: white;
    color: black;
    }



 
#input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    align-items: center;
}

wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10%;
    height: 400px;
    
}


#welcomeBorder{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: solid white 4px;
    width: 60%;

}

#gameScreen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 7%;
    align-items: center;
    align-self: center;
}



.left, .right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    align-items: center;
    overflow: hidden;
}

h1{
    align-self: center;
    text-align: center;
}

/* .generated_img {    
border: solid 4px transparent;
margin-top: 20px;
}
.generated_img:hover {
border-color: lightblue;
}

.generated_img:active {
border-color: lightblue;
} */

.real, .fake {    
    border: solid 4px transparent;
    margin-top: 20px;
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    border-radius:15px;
    margin:10px;
}
.real:hover, .fake:hover {
    border-color: lightblue;
}
    

.real:active, .fake:active {
    border-color: lightblue;
}

.clicked{
    border-color: lightblue;
}


    

#question {
    align-self: center;
    display: hide;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    align-items: center;
}

#image-container{
    display: none;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result-text {
    align-self: center;
    display: hide;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black; 
    color: white;
}

#mainPageImg {
    border-radius: 10px;
    object-fit: cover;
    max-height: 200px;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}


#desc-text {
    align-items: center;
    text-align: center;
    margin:10px;
    padding: 0px 7%;
    padding-bottom: 15px;
}


/* HOME BUTTON ICON */
#homebtn {
    background-color: #222;
    border: none;
    color: white;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /* right: 20px; */
    /* position: absolute; */
    /* display: flex; */
    flex-direction: row;
  }
  
  /* Darker background on mouse-over */
  #homebtn:hover {
    background-color: RoyalBlue;
}

.fa {
    align-self:center;
}
#countdown{
    display:none;
}

.score{
    align-self: center;
    padding:0;
    text-align: center;
}

score-container{
    padding:4px;
    display: none;
    flex-direction: column;
}

#score-label{
    margin:0px;
    font-size: 12px;
}
#high-score-container{
    background-color:#222;
}

#your-score-container {
    margin: 4px;
    padding: 0px 12px;
}


#countdown-bar {
    display: none;
    width: 10%;
    height: 10px;
    background-color: #222;
    border-radius: 5px;
    overflow: hidden;
  }
  
  #countdown-progress {
    height: 100%;
    /* background-color: #4CAF50; */
    width: 0%;
    transition: width 1s linear;
    background: indigo;
  }

  countdown{
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
  }


  .none-button{
    background-color: #222;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 10px;
}

.none-button:hover{
    background-color: royalblue;
}

#btn-about {
    align-self: center;
    padding-left: 20px;
    font-weight: bold;
    color: white;
}

#btn-about:hover{
    color: #5c2be2;
}


topnav {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    
}

.navbuttons {
    padding-left: 10px;
    text-decoration: none;
    
}

navbuttoncontainer {
    /* right: 20px; */
    position: absolute;
    display: flex;
    flex-direction: row;
}

logo{
    font-size: 20px;
    border: solid white 2px;
    padding: 6px;
}

  /* THIS IS ALL FOR THE ABOUT PAGE */

  main {
    display:flex;
    flex-direction:column;
    justify-content: center;
  }

  #about-description, .about-story {
    text-align: center;
  }

  .about-story{
    width: 50%;
    align-content: center;
    padding: 10px;
    /* vertical-align: middle; */
    align-self: center;
    align-items: center;
    height: 100%;
    display: table-cell; 
    vertical-align: top;
  }

  #about-story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #guess-about-story{
    font-size: 20px;
    padding: 10px;
  }

  stories {
    /* display:flex; */
    display: table;
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }

  #founders-container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
  }

  .img-founder {
    height: 20vw;
    width: auto;
    border-radius: 8px;
  }

  footer {
    /* background-color: #222; */
    color: #fff;
    /* padding: 10px; */
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.figcaption {
    text-align: center;
    color:#f1f1f1;
    text-decoration:none;
    padding: 10px;
}

.figcaption:hover{
    color: #5c2be2;
}

figure{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#about-real {
    background-color: #222;
}

#about-ai{
    background-color: #333;
}


/* TINY MENU  */
/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
/* Style the navigation menu */
hamburger-wrapper {
    display: none;
}

.hamburger {
    overflow: hidden;
    background-color: #222;
    position: relative;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    text-align:right;
    margin-right: 3vw;
    margin-top: 16px;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
#tinyMenu {
    display: none;
    width: 94vw;
    background-color: #151515;
  }
  
  /* Style navigation menu links */
  .hamburger a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .hamburger a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .hamburger a:hover {
    background-color: #5c2be2;;
    /* color: black; */
  }







/* RESPONSIVE WEB */

 /* TINIEST TINY SIZE SCREENS  */
 @media screen and (max-width: 304px) {
    scorecontainer{
        display: none;
    }

    navbuttoncontainer {
        display: none;
    }

    .right, .left {
        width: auto;
        width: fit-content!important; 
    }

    #founders-container {
        flex-direction: column;

    }

    h1{
        font-size: 18px;
    }

    /* everything else just copied over: */
   
    body {
        /* font-size: 12px; */
       }
       
        #welcomeBorder{
        flex-direction: column;
        width: 95%;
        overflow: hidden;
       }
    
       .left, .right {
        width: 100%;
        height: auto;
        font-size: 14px;
       }
    
       wrapper {
        height: fit-content;
       }
    
       #button-generate {
        margin-bottom: 15px;
       }
      
    
      hamburger-wrapper {
        display: flex;
      }
    
      #homebtn {
        display: none;
        
    }
    #btn-about {
        display: none;
    }
    
    .img-founder {
        height: 150px;
        width: 150px;
        border-radius: 8px; 
        object-fit: cover;
        align-self: center;
        
    }
    
    figure {
        margin: 5px;
    }
    stories {
        justify-content: center;
        width: 95%;
        display: flex;
        flex-direction: column;
      }
    
      .about-story{
        width: 100%;
      }
    
    
      #question{
        font-size: 18px;
        padding-left:10px;
        padding-right:10px;
    
      }
    
      .real, .fake {
        width: auto;
        height: 27vh;
      }
    
      #allimages {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
 }


/* TINY SCREENS */
@media screen and (min-width: 305px) and (max-width: 600px) {
   #all-images{
    display: flex;
    flex-direction: column;
    justify-content: center;

   }
   
    body {
    /* font-size: 12px; */
   }
   
    #welcomeBorder{
    flex-direction: column;
    width: 95%;
    overflow: hidden;
   }

   .left, .right {
    width: 100%;
    height: auto;
    font-size: 14px;
   }

   wrapper {
    height: fit-content;
   }

   #button-generate {
    margin-bottom: 15px;
   }
  

  hamburger-wrapper {
    display: flex;
  }

  #homebtn {
    display: none;
    
}
#btn-about {
    display: none;
}

.img-founder {
    height: 150px;
    width: 150px;
    border-radius: 8px; 
    object-fit: cover;
    align-self: center;
    
}

figure {
    margin: 5px;
}
stories {
    justify-content: center;
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  navbuttoncontainer {
    text-align: end;
    align-self: center;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 20px;
}

  .about-story{
    width: 100%;
  }


  #question{
    font-size: 18px;
    padding-left:10px;
    padding-right:10px;

  }

  .real, .fake {
    width: auto;
    height: 27vh;
  }

  #allimages {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}


/* SMALL SIZE SCREENS  */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    hamburger-wrapper {
        display: flex;
      }

    #homebtn {
        display: none;
    }
    #btn-about {
        display: none;
    }
    body {
        /* font-size: 12px; */
       }
       
        #welcomeBorder{
        flex-direction: column;
        width: 85%;
        overflow: hidden;
       }
    
       .left, .right {
        width: 100%;
        height: auto;
        font-size: 16px;
       }
    
       wrapper {
        height: fit-content;
        margin-top: 4%;
       }
    
       #button-generate {
        margin-bottom: 15px;
       }

       #mainPageImg {
        max-height: 300px;
    }
    figure {
        margin: 5px;
    }
    stories {
        justify-content: center;
        width: 90vw;
        display: flex;
        flex-direction: column;
      }
      .about-story{
        width: 100%;
      }

      navbuttoncontainer {
        text-align: end;
        align-self: center;
        width: 100vw;
        align-items: center;
        justify-content: center;
        display:flex;
        padding-right: 20px;
      }

      #question{
        font-size: 18px;
        padding-left:10px;
        padding-right:10px;

      }

      .real, .fake {
        width: auto;
        height: 27vh;
      }

      #allimages {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

  }



  /* MEDIUM-BIG SIZE SCREENS  */
  @media screen and (min-width: 901px) {

    #all-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
       }

    #welcomeBorder{
        width: 85%;
    }
    hamburger-wrapper {
        display: none;
      }

    #homebtn {
        display: flex;
        
    }

    #btn-about {
        display: flex;
    }


        navbuttoncontainer {
            right: 20px;
    }

    

}